SOA/SOAP/ASMX 1/Calculadora/WinCalc/Connected Services/WS_EXT_2/CalcSuper.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SomaPlus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SomaPlusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SomaPlusResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SomaMul">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SomaMulResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SomaMulResult" type="tns:Varios" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Varios">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Mul" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Sum" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="SomaPlusSoapIn">
    <wsdl:part name="parameters" element="tns:SomaPlus" />
  </wsdl:message>
  <wsdl:message name="SomaPlusSoapOut">
    <wsdl:part name="parameters" element="tns:SomaPlusResponse" />
  </wsdl:message>
  <wsdl:message name="SomaMulSoapIn">
    <wsdl:part name="parameters" element="tns:SomaMul" />
  </wsdl:message>
  <wsdl:message name="SomaMulSoapOut">
    <wsdl:part name="parameters" element="tns:SomaMulResponse" />
  </wsdl:message>
  <wsdl:portType name="CalcSuperSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SomaPlus">
      <wsdl:input message="tns:SomaPlusSoapIn" />
      <wsdl:output message="tns:SomaPlusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SomaMul">
      <wsdl:input message="tns:SomaMulSoapIn" />
      <wsdl:output message="tns:SomaMulSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalcSuperSoap" type="tns:CalcSuperSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SomaPlus">
      <soap:operation soapAction="http://tempuri.org/SomaPlus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SomaMul">
      <soap:operation soapAction="http://tempuri.org/SomaMul" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CalcSuperSoap12" type="tns:CalcSuperSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SomaPlus">
      <soap12:operation soapAction="http://tempuri.org/SomaPlus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SomaMul">
      <soap12:operation soapAction="http://tempuri.org/SomaMul" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalcSuper">
    <wsdl:port name="CalcSuperSoap" binding="tns:CalcSuperSoap">
      <soap:address location="http://localhost:53797/Services/CalcSuper.asmx" />
    </wsdl:port>
    <wsdl:port name="CalcSuperSoap12" binding="tns:CalcSuperSoap12">
      <soap12:address location="http://localhost:53797/Services/CalcSuper.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>